.wpwl-group-submit{padding-bottom:26px;margin-bottom:26px;}
.wpwl-group-submit::before{content:"OR";display:inline-block;background-color:#fff;color:#1f45ba;padding:0 10px;position:absolute;bottom:-13px;left:50%;transform:translateX(-50%);z-index:1}
.wpwl-group-submit::after{content:"";display:block;border-bottom:1px solid #1f45ba;position:absolute;bottom:-5px;width:100%;z-index:0}
